<div class="jumbotron">
  <div class="btn-group btn-group-lg" role="group"
    aria-label="Resource categories" ng-repeat="category in categories">
    <button type="button" class="btn btn-default"
      ng-click="button = {{category.name}}">
      {{category.name}}
    </button>
  </div>
  <div class="btn-group btn-group-lg" role="group" aria-label="Show more">
    <button type="button" class="btn btn-default ng-click="button = more">
      More...
    </button>
  </div>
  <div class="btn-group" role="group" aria-label="Show map">
    <button type="button" class="btn btn-success" ng-click="button = map">
      Show the Map
    </button>
  </div>
</div>

